<!DOCTYPE html>
<html>
  <head>
    <%= render 'common/google_tag_manager_script' %>
    <%= meta %>
    <title><%= bobcat_title %></title>
    <%= institutional_stylesheet %>
    <%= print_stylesheet if print_stylesheet? %>
    <%= application_javascript %>
  </head>
  <body>
    <%= render 'common/google_tag_manager_noscript' %>
    <%= render 'common/header' %>
    <%= render 'common/nav' %>
    <div class="nyu-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-10 eshelf-header hidden-xs">
            <h1 class="hidden-xs"><span>e-Shelf</span></h1>
            <span class="username hidden-xs">
              for
              <%= current_user_name || guest_user_name %>
            </span>
          </div>
          <% if back_to %>
            <div class="col-sm-2 back-to"><%= back_to %></div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div id="sidebar" class="navbar sidebar" data-spy="affix-top" data-offset-top="200">
              <%= render 'users/shelf' %>
            </div>
          </div>
          <div class="col-sm-9">
            <%= render 'common/alerts' %>
            {{yield}}
          </div>
        </div>
      </div>
    </div>
    {{> common/footer}}
  </body>
</html>
