<!DOCTYPE html>
<html>
  <head>
    <%= render 'common/google_tag_manager_script' %>
    <%= meta %>
    <title><%= application_title %></title>
    <%= application_stylesheet %>
    <%= application_javascript %>
  </head>
  <%= content_tag 'body', onload: onload, class: body_class, id: body_id do %>
    <%= render 'common/google_tag_manager_noscript' %>
    <%= prepend_body %>
    <%= render 'common/header' %>
    <%= render 'common/nav' %>
    <div class="nyu-container">
      <% if left_sidebar %>
        <div class="col-sm-3">
          <%= render 'common/left_sidebar' %>
        </div>
      <% end %>
      <div class="col-sm-<%= left_sidebar ? 7 : 10 %>">
        <%= render 'common/alerts' %>
        <%= render 'common/tabs' %>
        <%= prepend_yield  %>
        <%= yield %>
      </div>
      <div class="col-sm-2">
        <div id="sidebar" class="sidebar">
          <%= render 'common/right_sidebar' %>
        </div>
      </div>
    <% end %>
    <%= render 'common/footer' %>
  </body>
</html>
