<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'common/google_tag_manager_script' %>
    <%= meta %>
    <title><%= bobcat_title %></title>
    <%= institutional_stylesheet %>
    <%= application_javascript %>
  </head>
  <body class="login">
    <%= render 'common/google_tag_manager_noscript' %>

    <div class="skip-nav">
      <a href="#main">Skip to main content</a>
    </div>

    <%= render "common/header" %>
    <%= render "common/nav" %>
    <main id="main" class="nyu-container container-fluid">
      <%= render "common/alerts" %>
      <%= yield %>
    </main>
    <%= render "common/footer" %>
  </body>
</html>
